@model IEnumerable<verklega.Models.Language>

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<ul>
    @foreach (var lang in Model)
    {
        <li>@lang.TextLanguage</li>
    }
    }
</ul>



