@model verklega.Models.Subtitle
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" type="text/css" href="Site.css" />
 
<div>
        <h2> Setja inn Skj&aacute;texta </h2>
        <label for="Titill">Titill:	 </label>
        <input type="text" id="Titill" name="Titill" /><br />
        <select>
            <option value="group">Flokkur</option>
            <option value="child">Barnaefni</option>
            <option value="flipp">Flipp</option>
            <option value="fun">Gr&iacute;n</option>
            <option value="etc">og svo framvegis</option>
        </select><br />
        <select>
            <option value="group">Tungum&aacute;l</option>
            <option value="child">&iacute;slenska</option>
            <option value="flipp">enska</option>
            <option value="fun">franska</option>
            <option value="etc">og svo framvegis</option>
        </select><br />
        <label for="browse">skr&aacute; :	 </label>
        <input type="text" id="AddSub" name="browse" />
        <input type="button" id="Create" value="Leita af skr&aacute;" /><br />
        <textarea rows="10" cols="50"></textarea>
    </div>

    <form action="AddSubtitle" method="post" enctype="multipart/form-data">
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.DropDownListFor(model => model.L_ID, (IEnumerable<SelectListItem>)ViewBag.Languages)
    </div>
    <div>
        @Html.LabelFor(model => model.Title, "Tititll")
        @Html.TextBoxFor(model => model.Title)
    </div>
    
    
    
    <input type="file" name="file" />
    <input type="submit" value="Setja inn" id="ButtonSubmit"/>
 <!--   if (ViewData["Success"] !="")
    { <label> (Setja inn att merki hér) ViewData["Success"]</label>} -->
} 
    </form>
