@model verklega.Models.Subtitle
@{
    ViewBag.Title = "Create";
}
<link rel="stylesheet" type="text/css" href="Site.css" />
 

@using (Html.BeginForm("AddSubtitle","Subtitle", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.DropDownListFor(model => model.L_ID, (IEnumerable<SelectListItem>)ViewBag.Languages)
    </div>
     <div>
        @Html.TextBoxFor(model => model.Category)
    </div>   
    
    <div>
        @Html.LabelFor(model => model.Title, "Titill")
        @Html.TextBoxFor(model => model.Title)
    </div>
    
    
    
    <input type="file" name="file" />
    <input type="submit" value="Setja inn" id="ButtonSubmit"/>
 <!--   if (ViewData["Success"] !="")
    { <label> (Setja inn att merki hér) ViewData["Success"]</label>} -->
} 
