@{
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" type="text/css" href="Site.css" />

    <h2> Bangsimon </h2>
    <div>
        <textarea rows="10" cols="40"></textarea>
        <br />
        <input type="button" id="Save" value="Vista" />
        @Html.ActionLink("Hætta við", "ViewSubtitle", "Subtitle")
      <!--  <input type="button" id="Cancel" value="H&#230;tta vi&#240;" /> -->
    </div>


