@model IEnumerable<verklega.Models.Subtitle>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="Site.css" />
<h2>Skjátextar</h2>

<p>
    

    @using (Html.BeginForm())
    {
    <p>
        @Html.TextBox("searchString") <br />
        <input type="submit" value="Leita að skjátexta" />
    </p>
    }
</p>


<table class="table">
    <tr>
        <th>
            Sett inn af
        </th>
        <th>
            Heiti myndefnis
        </th>
        <th>
            Tungumál
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language.TextLanguage)
            </td>
            <td><img src="http://i.imgur.com/iQDIVhA.png" alt="uppþumla" width="20" height="15" /></td>
        </tr>
    }
</table>



