@model IEnumerable<verklega.Models.Subtitle>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="Site.css" />

<table class="table">
    <tr>
        <th>
            User
        </th>
        <th>
            Subtitles
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                Mucho Likes! Grande!
            </td>
            <td><img src="http://i.imgur.com/iQDIVhA.png" alt="uppþumla" width="20" height="15" /></td>
        </tr>
    }
</table>
