
@{
    ViewBag.Title = "SearchSubtitle";
}

<link rel="stylesheet" type="text/css" href="Site.css" />

    <table>
        <thead>
            <tr>
                <th scope="col">Flokkur</th>
                <th scope="col">Nafn</th>
                <th scope="col">Upvota&#240;</th>
                <th scope="col">Tungum&#225;l</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
            <tr>
                <td scope="row">Texti</td>
                <td>Texti</td>
                <td>Texti</td>
                <td>Texti</td>
            </tr>
        </tbody>
    </table>


