@model IEnumerable<verklega.Models.Subtitles>
@{
    ViewBag.Title = "ViewSubtitle";
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title> Setja inn efni </title>
    <meta http-equiv="http://i.imgur.com/rxrixRQ.png" content="text/html; charset=utf-8" />
</head>
<body>
    <h1>S&#237;&#240;an!  </h1>
    <div>
        <input type="text" />
        <select>
            <option value="" disabled="disabled" selected="selected">Flokkar</option>
            <option value="1">Kvikmyndir</option>
            <option value="1">&#254;&#230;ttir</option>
            <option value="1">N&#253;legt</option>
            <option value="2">Vins&#230;lt</option>
        </select>
        @Html.ActionLink("Leita", "SearchSubtitle", "Subtitle")
        <br />
        @Html.ActionLink("Skoða beiðni", "ViewRequest", "Request")
<<<<<<< HEAD
        @Html.ActionLink("Setja inn Skjátexta", "AddSubtitle", "Subtitle")
=======
        @Html.ActionLink("Setja inn Skjátexta", "Create", "Subtitle")
>>>>>>> 47b4818fa77059cc6a739d50e7029e4e8df09c96
    </div>
    <h2>Bangs&iacute;mon </h2>
  <table>
        <tbody>
            <tr>
                <td scope="row">Download:</td>
                <td scope="row" id="Name">Something</td>
            </tr>
            <tr>
                <td scope="row"> Flokkur:</td>
                <td scope="row" id="Group">Something</td>
            </tr>
            <tr>
                <td scope="row"> Tungum&#225;l </td>
                <td scope="row" id="Language">Something</td>
            </tr>
            <tr>
                <td scope="row"> Sett inn af:</td>
                <td scope="row" id="Author">Something</td>
            </tr>
        </tbody>
    </table> 
    <div>
        <input type="button" id="Download" value="S&#230;kja" />
        <input type="button" id="Edit" value="Breyta" /><br />
        <textarea id="TextArea" rows="4" cols="50"></textarea>
    </div>
    <h3> Umm&#230;li </h3>
    <div>
        insert comment author here plz
        <input type="button" id="CommentReply" value="Breyta" /><br />
        <textarea id="ReplyComment" rows="3" cols="35"></textarea>
    </div>
</body>
</html>


