@model IEnumerable<verklega.Models.Subtitle>

@{
    ViewBag.Title = "ViewSubtitle";
}

<link rel="stylesheet" type="text/css" href="Site.css" />

    <h2>Bangs&iacute;mon </h2>
  <table>
        <tbody>
            <tr>
                <td scope="row">Download:</td>
                <td scope="row" id="Name">Something</td>
            </tr>
            <tr>
                <td scope="row"> Flokkur:</td>
                <td scope="row" id="Group">Something</td>
            </tr>
            <tr>
                <td scope="row"> Tungum&#225;l </td>
                <td scope="row" id="Language">Something</td>
            </tr>
            <tr>
                <td scope="row"> Sett inn af:</td>
                <td scope="row" id="Author">Something</td>
            </tr>
        </tbody>
    </table> 
    <div>
        <input type="button" id="Download" value="S&#230;kja" />
        <input type="button" id="Edit" value="Breyta" /><br />
        <textarea id="TextArea" rows="4" cols="50"></textarea>
    </div>
    <h3> Umm&#230;li </h3>
    <div>
        insert comment author here plz
        <!--<input type="button" id="CommentReply" value="Breyta" /><br /> -->
        <textarea id="ReplyComment" rows="3" cols="35"></textarea>
    </div>

        <!-- Hérna á að vera hægt að búa til nýja beiðni þegar ýtt er á þar til gerðan takka. 
            Er hægt að kalla á Create fallið í RequestController til þess að búa til nýja beiðni-->           
    <div>
        <input type="button" id="PostRequest" value="Óska eftir þýðingu á þessu myndefni" />
    </div>
        
