@model IEnumerable<verklega.Models.Subtitle>

@{
    ViewBag.Title = "ViewSubtitle";
}

<link rel="stylesheet" type="text/css" href="Site.css" />

    <h2>Subtitle.Title</h2>
  <table>
        <tbody>
            <tr>
                <td scope="row">Download:</td>
                <td scope="row" id="Name">Something</td>
            </tr>
            <tr>
                <td scope="row"> Flokkur:</td>
                <td scope="row" id="Group">Something</td>
            </tr>
            <tr>
                <td scope="row"> Tungum&#225;l </td>
                <td scope="row" id="Language">Something</td>
            </tr>
            <tr>
                <td scope="row"> Sett inn af:</td>
                <td scope="row" id="Author">Something</td>
            </tr>
        </tbody>
    </table> 
    <div>
        <input type="button" id="Download" value="S&#230;kja" />
        <input type="button" id="Edit" value="Breyta" /><br />
        <textarea id="TextArea" rows="4" cols="50"></textarea>
    </div>
    <h3> Umm&#230;li </h3>
    <div>
        Settu inn ummæli
        <input type="button" id="CommentReply" value="Pósta" /><br />
        <textarea id="ReplyComment" rows="3" cols="35"></textarea>
    </div>

        <!-- Navigatar á nýja síðu -> ViewRequest. 
            Hérna á að vera hægt að búa til nýja beiðni þegar ýtt er á þar til gerðan takka. 
            Þyrftum að geta kallað á CreateRequest fallið í RequestController sem býr til nýtt
            request object. Hérna þurfum við líka að grípa Subtiltle.ID og tehgja það við beiðnina
            -->           
    <div>
        @Html.ActionLink("text text", "ViewRequest" , "Request" )
            <input type="button" id="PostRequest" value="Senda beiðni - prufa" />
            @using (Html.BeginForm("ViewRequest", "Request")) 
            { 
                <input type="submit" value="Óska eftir þýðingu á þessu myndefni" />
                <p>á eftirfarandi tungumáli: DROPDOWN vantar</p>
                <div>
                </div>
            }
        
</div>
        
