h1{
font-family:'Segoe Print';
font-size: 55px;
color:rgb(195, 198, 198);
border-left: 20px solid rgb(36, 21, 78);
}
/*h1, MenuBar and .navbar control the permanent border at the top*/
.MenuBar, h1{
    background: rgb(36, 21, 78);
    border-right: 5px solid rgb(36, 21, 78);
    margin: auto;
}
.MenuBar{
    border-bottom: 5px solid rgb(36, 21, 78);
    border-left: 113px solid rgb(36, 21, 78);
}
body {
padding-top: 50px;
padding-bottom: 20px;
font-family:Arial;
color:rgb(25, 15, 53);
background: rgb(228, 228, 228);
}
.navbar {
background: rgb(36, 21, 78);
background-image: none;
margin: 0;
border: hidden;
}
/*All of the a. or a: control the style of all links*/
.navbar-inverse .navbar-nav > li > a, a {
  color: rgb(205, 206, 205);
  text-decoration: none;
}

a.Register { 
    font-weight:bold;
    color:rgb(36, 21, 78);
}

a.Register:hover { 
    font-weight:bold;
    color: rgb(54, 2, 198);
}

a:hover,
a:focus {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}
/* Set padding to keep content from hitting the edges */
.body-content {
padding-left: 15px;
padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
max-width: 280px;
}
/* styles for validation helpers */
.field-validation-error {
background: rgb(255, 0, 0)
}
.field-validation-valid {
display: none;
}
input.input-validation-error {
border: 1px solid rgb(255, 0, 0);
}
input[type="checkbox"].input-validation-error {
border: 0 none;
}
.validation-summary-errors {
color: rgb(255, 0, 0);
}
.validation-summary-valid {
display: none;
}
