@model IEnumerable<verklega.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>

    @foreach (var lang in Model)
    {
        <li>@lang.ID</li>
        <li>@lang.Subtitle.Title</li>
    }
</ul>



