@model IEnumerable<verklega.Models.Request>

@{
    ViewBag.Title = "Yfirlit yfir beiðnir um þýðingar";
}
<link rel="stylesheet" type="text/css" href="Site.css" />
<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            Notandi
        </th>
        <th>
            Skjátexti
        </th>
        <th>
            Tungumál
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitle.L_ID)
            </td>
            <td>
                Mucho Likes! Grande!
            </td>
        </tr>
    }
</table>
