@model IEnumerable<verklega.Models.Request>
@{
    ViewBag.Title = "ViewRequest";
}

    <h1> S&#237;&#240;an!  </h1>
    <ul>
        @foreach (var ba in Model)
        {
            <li>@ba.ID</li>
        }
    </ul>